/*
Large devices
Desktops (≥1200px) 
*/
@media only screen and (max-width:1199px){
    #HomePage .whyHit{
        width: 130px;
        height: 40px;
    }
    .athlete-details{
        margin-top:-220px;     
    }
    .athlete-details-container{
        padding:20px;
    }
    #videoControls{
        top:80%;
    }
}

/*
Medium devices
Desktops (≥992px)
*/
@media only screen and (max-width:991px){
    #HomePage .whyHit{
        width: 100px;
        height: 70px;
    }
    .athlete-details{
        margin-top:-180px;
        
    }
    .athlete-details-container{
        padding:20px;
    }
    #videoControls{
        top:75%;
    }
    #SingleProgramPage .myTabs a{
        font-size: 9px;
    }
    #SingleProgramPage .progress-label{
        font-size: 10px !important;
    }
    
}

/*
Small devices
Tablets (≥768px)
*/
@media only screen and (max-width:767px){
    .left{
        border-right: unset !important;
        padding-bottom:20px;
        margin-bottom:20px;
        border-bottom: 1px solid #d71a21;
    }
    #SingleProgramPage .progress-label>span{
        font-size: 8px !important;
    }
    #CoachesPage .images img{
        max-width: 30%;
    }
    .athlete-details{
        position: unset;
        z-index: unset;
        margin-top:20px !important;
        margin-bottom: 20px;
    }
    .athlete-details .pic{
        padding-top: 20px !important;
        padding-bottom:20px ;
    }
    #wrapper{
        width:100%;   
    }
    #videoControls{
        top: 70%;
    }
    #playImg{
        width:14px;
    }
    #duration, #fastFwd{
        font-size: 12px;
    }
    #HomePage .whyHit{
        transform: unset !important;
        margin-top:20px;
        height: 40px;
    }
    .textarea{
        position: unset;
    }
    .person{
        border-right: unset;
    }
    .section{
        margin-bottom:20px;
    }
    .copyrights{
        text-align: left !important;
    }
    #CartPage .cartContent h1{
        font-size: 20px;
        padding:20px;
        
    }
    #SingleEventPage .event-info h2{
        font-size: 22px;
        text-align: center;
    }
    #SingleEventPage .event-info h1{
        font-size: 18px;
        text-align: center;
    }
    #CartPage .cartContent h3,
    #CartPage .cartContent p,
    #CartPage .cartContent span,
    #CartPage .cartContent li{
        font-size: 12px !important;
    }
    #SingleProgramPage .myTabs a{
        font-size: 9px;
    }
    #CartPage .cartContent .desc{
        display:none;
    }
    #CartPage .table td:first-child{
        width:unset !important;
        padding:10px 5px;
    }
    #CartPage .table td:nth-child(2){
        width:unset !important;
        border-right:1px solid #d71a21;
    }
    #CartPage .table td:nth-child(3){
        width:unset !important;
        border-right:1px solid #d71a21;
    }
    #CartPage .table td:nth-child(4){
        width:unset !important;
    }
    footer ul{
        padding-left:0px;
    }
    .video-foreground{
        
            max-height: auto;
            /* background-color: gray;
            background-image: url("../imgs/jumbtron.jpg"); */
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: 0% 0%;
            background-size: cover;
        
    }
    video{
        width:auto;
        height: 100%;
    }
}