/* General rules*/

/*
CheckBox Styles
*/

/* Base for label styling */

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked)+label, [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */

[type="checkbox"]:not(:checked)+label:before, [type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */

[type="checkbox"]:not(:checked)+label:after, [type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: .2em;
    left: .275em;
    font-size: 1em;
    line-height: 0.8;
    color: #d71a21;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
}

/* checked mark aspect changes */

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

/* accessibility */

[type="checkbox"]:checked:focus+label:before, [type="checkbox"]:not(:checked):focus+label:before {
    border: 2px dotted #616060;
}

/* hover style just for information */

label:hover:before {
    border: 2px solid #d71a21!important;
}

/*=====*/

body {
    background: #2e2e2e;
}

ul {
    list-style: none !important;
}

a:hover {
    text-decoration: unset !important;
}

select.form-control:focus {
    background: #d71a21 !important;
    color: #fff !important;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25) !important;
}

input.form-control:focus, .form-control-static:focus {
    background: #616060;
    border-color: #d71a21;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1) !important;
    outline: 0 !important;
}

.myInput {
    background: #616060;
    border: 1px solid #d71a21;
    border-radius: 10px;
    margin-bottom: 10px;
}

.border-primary {
    border: 2px solid #d71a21 !important;
}

.border-gray {
    border: 10px solid #2e2e2e;
}

.bordBotWhite {
    border-bottom: 3px solid #fff;
}

.paragraph {
    margin: 20px 0px;
}

.sm-avatar {
    border-radius: 50%;
    widows: 50px;
    height: 50px;
}

.content {
    padding: 40px 0px;
}

.spacegray {
    color: #3d3d3d !important;
}

.content-pad {
    padding: 40px;
}

.vert_pad_10 {
    padding: 10px 0px !important;
}

.img-responsive {
    width: 100%;
}

.bg_primary {
    background: #d71a21 !important;
}

.primary {
    color: #d71a21 !important;
}

.sm-text {
    font-size: 12px !important;
}

.huge-text {
    font-size: 56px;
    max-width: 100% !important;
}

.lg-text {
    font-size: 22px;
}

.v-lg-text {
    font-size: 44px;
}

.align-base {
    align-items: baseline !important;
}

.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad_top_20 {
    padding-top: 20px !important;
}

.md-text {
    font-size: 16px;
}

.bold {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}

.inl-blc {
    display: inline-block;
}

.mg_top_5 {
    margin-top: 5px!important;
}

.mg_top_10 {
    margin-top: 10px!important;
}

.mg_top_20 {
    margin-top: 20px!important;
}

.mg_bot_5 {
    margin-bottom: 5px!important;
}

.mg_bot_10 {
    margin-bottom: 10px!important;
}

.mg_bot_20 {
    margin-bottom: 20px!important;
}

.mg-right-10 {
    margin-right: 10px !important;
}

.mg-right-100 {
    margin-right: 100px !important;
}

.mg-left-10 {
    margin-left: 10px !important;
}

.clear {
    clear: both;
}

.avatar img {
    border-radius: 50%;
    margin: 0px 20px 20px 0px;
    max-width: 50px;
    float: left;
}

.avatar span {
    margin-top: 10px;
}

.noMg {
    margin: 0px;
}

.no-pad {
    padding: 0px !important;
}

.no-pad-right {
    padding-right: 0px !important;
}

.pad-right-20 {
    padding-right: 20px;
}

.pad-right-40 {
    padding-right: 40px;
}

.pad-left-20 {
    padding-left: 20px;
}

.pad-left-40 {
    padding-left: 40px;
}

.no-pad-left {
    padding-left: 0px !important;
}

.red {
    color: #d71a21;
}

.white {
    color: #fff !important;
}

.darkgray {
    color: darkgray;
}

.green {
    color: green;
}

.gray {
    color: gray;
}

/* header */

.navbar-brand img {
    max-width: 120px;
}

#navbarSupportedContent {
    align-items: flex-end !important;
}

.nav-link {
    margin-left: 10px;
}

a.nav-link {
    color: #fff !important;
    font-size: 12px;
}

#StorePage .myJumbtron {
    background: #2e2e2e;
}

#HomePage .myJumbtron {
    /* background:url('../imgs/jumbtron.jpg');
    background-position: center center;
    background-size: cover; */
    height: 600px;
}

nav .active {
    border-bottom: 2px solid #d71a21;
    font-weight: bolder;
}

.navbar-toggler {
    background: rgba(255, 255, 255, 0.5)
}

/* video background */

* {
    box-sizing: border-box;
}

#HomePage.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

#HomePage.video-foreground, #HomePage.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#HomePage #vidtop-content {
    top: 0;
    color: #fff;
}

#HomePage video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* find your inner strength */

#HomePage .title h3 {
    padding: 30px 0px;
    text-align: center;
}

.red {
    color: #d71a21;
}

.zigzag {
    background: #2e2e2e;
    padding-bottom: 50px;
}

.zig {
    background: url('../imgs/jumbtron.jpg')center center;
    padding: 5px;
    border: 5px solid #2e2e2e;
    height: 300px;
}

.zig-caption {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.zig-caption span {
    background: rgba(0, 0, 0, 0.72);
}

.zig:hover .zig-caption {
    visibility: visible;
    opacity: 1;
}

/*why hit*/

.quote {
    background: url('../imgs/gym.jpg');
    background-position: center center;
    background-size: cover;
    height: 350px;
}

.textarea {
    position: relative;
    left: 0;
    right: 100px;
    top: 100px;
    bottom: 100px;
}

.quote article>p {
    color: #fff;
}

#HomePage .whyHit {
    transform: rotate(-90deg);
    width: 140px;
    height: 30px;
    color: #fff;
    display: inline-block;
}

/*testmonials*/

.testmonials {
    background: #2e2e2e;
    padding-bottom: 50px;
}

.bold-title h2 {
    padding: 30px 0px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
}

.person {
    padding: 10px;
    border-right: 1px solid #d71a21;
}

.person:last-child {
    border-right: unset;
}

.person img {
    border-radius: 50%;
    padding: 10px;
    width: 70%;
}

.person h3 {
    color: #fff;
    padding-bottom: 5px;
    font-size: 22px;
    border-bottom: 2px solid darkgray;
}

.person .info {
    margin-right: 10%;
    margin-left: 10%;
}

.person span {
    font-size: 14px;
    font-weight: lighter;
    color: darkgray;
}

.person p {
    text-align: left;
    color: darkgray;
    font-weight: lighter;
    font-size: 14px;
}

/* Store Page
Store Title */

#StorePage {
    background-color: #2e2e2e;
}

.storeTitle {
    background: url(../imgs/store.jpg) top center;
    background-size: cover;
    height: 200px;
    position: relative;
}

.storeTitle .overlay {
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.storeTitle .titleText {
    position: relative;
    padding-top: 40px;
}

.storeTitle p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
}

.storeTitle .svg-inline--fa {
    color: #fff;
    font-size: 28px;
}

.storeTitle h3 {
    color: #fff;
    font-size: 48px;
}

.storeItems {
    background: #2e2e2e;
}

.storeItems .title {
    padding: 20px 0px;
}

.separator-hr hr {
    border-top: 1px solid rgb(93, 93, 93);
}

.storeItems .nav-pills a {
    background: #616060;
    text-align: center;
    padding: 40px 0px;
    border: 5px solid #2e2e2e;
}

.storeItems .nav-pills .svg-inline--fa {
    font-size: 38px;
    margin-bottom: 10px;
}

.storeItems .nav-pills a.active {
    background: #d71a21;
}

.storeItems .nav-pills a.active span {
    font-weight: bolder;
    font-size: 16px;
}

.storeItems .nav-pills a, .svg-inline--fa {
    color: #fff;
}

.nav-link {
    margin-left: unset;
}

.nav-item {
    padding: 0px;
}

.itemImage {
    /* background: url('../imgs/item.jpg') center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px; */
    border-bottom: 1px solid #2e2e2e;
}

.itemStore {
    background: #fff !important;
    border: 5px solid #2e2e2e;
    margin-bottom: 20px;
}

.halfOpacity {
    opacity: .5 !important;
}

.fullOpacity {
    opacity: 1 !important;
}

.itemStore p {
    font-weight: normal;
    margin-bottom: .2rem;
}

.radBtn {
    border-radius: 10px;
    height: 70px;
}

.counter-row {
    line-height: 30px;
}

.counter-row button:focus {
    outline: 0 !important;
}

.counter-container {
    margin-bottom: 10px;
    border-right: 1px solid #d71a21;
}

.counter-container input {
    background: #d71a21;
    color: #fff;
    border-radius: 5px;
    width: 30px;
}

.counter-container input:focus {
    outline: 0;
}

#number {
    background: #2e2e2e;
    color: #fff;
    text-align: center;
}

/* About */

.whoWeAre {
    height: 400px;
    margin: 50px 0px 0px 0px;
    border-bottom: 5px solid #d71a21;
}

.whoWeAre span {
    font-size: 44px;
}

.whoWeAre .title {
    padding-left: 70px;
}

.whoWeAre .bgImage {
    background: url('../imgs/jumbtron.jpg')center center;
    background-size: cover;
    height: 400px;
    border-bottom: 5px solid #aaa;
}

.redSection {
    background: #88020499;
    position: absolute;
    top: 10%;
    left: 20%;
    bottom: 10%;
    right: 0px;
}

#AboutPage .whyHit {
    background: rgb(44, 0, 0);
}

.redSection p {
    font-size: 22px;
    padding: 15px;
    color: #fff;
}

#AboutPage .Text {
    background: url('../imgs/locker.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

#AboutPage .overlay {
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.programs {
    padding: 40px 0px;
}

.programs h3::after {
    border: 1px solid #d71a21;
}

.programs .prog .border-primary {
    padding: 40px 20px !important;
}

.programs .prog:hover .border-primary {
    background: gray;
}

.prog .svg-inline--fa {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

.whoWeAre .title>div {
    margin-top: 40%;
}

.leaders {
    background: url('../imgs/leaders_bg.png')top center;
    background-size: cover;
    height: 500px;
}

/*-----*/

/*Contact Page
----------------*/

#ContactPage .content {
    padding: 40px 0px;
}

#ContactPage .myInput, #BlogSinglePage .myInput, #CartPage .myInput {
    background: #616060;
    border: 1px solid #d71a21;
    border-radius: 10px;
    margin-bottom: 10px;
}

input.myInput {
    height: 50px;
}

.myInput::placeholder {
    color: #aaa;
    font-size: 14px;
}

#ContactPage .svg-inline--fa {
    color: #d71a21;
    font-size: 34px;
    margin: 15px 0px 0px 10px;
}

.content .left {
    border-right: 1px solid #d71a21;
    padding-right: 20px;
}

.content .right {
    padding-left: 20px;
}

.content .title {
    margin-bottom: 20px;
}

#map {
    height: 200px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.contact-info {
    padding: 20px 0px;
}

.contact-info p {
    margin-bottom: 0px;
}

.contact-info span {
    display: inline-block;
    width: 80px;
    font-size: 14px;
}

.scroll {
    max-height: 300px;
    overflow-y: scroll;
}

.gallery {
    padding: 20px 0px;
}

.gallery img {
    padding: 5px;
}

/*=========*/

/*-----*/

/*Ask Page
----------------*/

#AskPage .left {
    background: url('../imgs/wall.jpeg') top center no-repeat;
    width: 100%;
    background-size: cover;
    padding: 40px 30px 40px 90px;
}

#AskPage .right {
    background: url('../imgs/locker.jpg') top right no-repeat;
    width: 100%;
    background-size: cover;
}

.ask-form {
    background: #fff;
    border: 10px solid #2e2e2e;
    padding: 30px;
}

.ask-form .myInput {
    margin-bottom: 20px;
    border-radius: 10px;
}

hr.primary {
    border: .5px solid #d71a21;
}

.questions {
    background: rgba(220, 220, 220, 0.9);
    border-radius: 20px;
    margin: 40px;
    padding: 40px 20px;
    height: 800px;
    overflow-y: scroll;
}

.attrs span {
    margin-right: 20px;
    font-size: 12px;
}

/*=========*/

/*-----*/

/* BlogPage
==============*/

.blog-content .title {
    padding: 20px;
}

.blog-item {
    margin-bottom: 40px;
}

.blog-content .right {
    border-left: 1px solid #d71a21;
}

.post-item {
    margin-bottom: 40px;
}

.post-item .text {
    margin-left: -10px;
}

/*=========*/

/* BlogSinglePage
==============*/

#BlogSinglePage .left {
    padding-right: 40px;
}

/*=========*/

/* StoreItemPage
==============*/

#StoreItemPage .item-controls {
    padding: 20px 20px 20px 40px;
    border-bottom: 2px solid #d71a21;
    margin-bottom: 20px;
}

#StoreItemPage .colors>span, #StoreItemPage .sizes>span {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.colors>.red {
    width: 40px;
    height: 40px;
    background: #d71a21;
    border-radius: 50%;
}

#StoreItemPage .colors .black {
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%;
}

.active-color {
    border: 2px solid #fff;
}

#StoreItemPage .colors-section, #StoreItemPage .sizes-section {
    border-right: 1px solid #d71a21;
}

#StoreItemPage .item-details {
    border-bottom: 2px solid #d71a21;
}

#StoreItemPage .counter-container {
    border: none;
}

#StoreItemPage .ratings {
    padding-bottom: 40px !important;
}

#StoreItemPage .ratings li p.noMg span.lg-text {
    font-size: 40px;
}

#StoreItemPage .ratings li p.noMg {
    font-size: 30px;
}

/*=========*/

/* CartPage
==============*/

#CartPage .cartContent {
    padding: 40px 0px;
}

#CartPage .table tr {
    padding: 20px 0px;
}

#CartPage .table td:first-child {
    width: 40% !important;
}

#CartPage .table td:nth-child(2) {
    width: 25% !important;
    border-right: 1px solid #d71a21;
}

#CartPage .table td:nth-child(3) {
    width: 18% !important;
    border-right: 1px solid #d71a21;
}

#CartPage .table td:nth-child(4) {
    width: 17% !important;
}

#CartPage .options li {
    margin-bottom: 20px;
}

#CartPage .table-responsive-sm {
    border-bottom: 1px solid #ccc;
}

#CartPage .myInput {
    width: 49%;
    height: 30px;
    color: white;
}

#CartPage .myInput:focus {
    outline: 0;
}

#CartPage .promoCode button {
    border-radius: 10px;
    width: 49%;
}

/*=========*/

/* CheckoutPage
==============*/

#CheckoutPage .checkoutContent {
    padding: 40px 0px;
}

#CheckoutPage .myInput {
    height: 30px !important;
}

#CheckoutPage .left {
    border-right: 2px solid #d71a21;
}

/*=========*/

/* CoachesPage
==============*/

#coach-info {
    visibility: hidden;
}

.coaches {
    padding-top: 20px;
    border-bottom: 5px solid #d71a21;
}

#coach-info h2, #coach-info p {
    text-shadow: 4px 2px #d71a21;
}

.visible {
    visibility: visible !important;
}

.unvisible {
    visibility: hidden !important;
}

#CoachesPage .images img {
    filter: grayscale(1);
    max-width: calc(100%/7);
    height: auto;
    margin-left: -30px;
}

#CoachesPage .images {
    justify-content: center !important;
    margin: 40px 0px;
}

#CoachesPage .images img:hover {
    filter: grayscale(0);
}

#CoachesPage .images img:first-child {
    margin-left: 0px !important;
}

.coach-details {
    background: gray;
    padding: 20px 0px;
}

/*=========*/

/* SingleCoachPage
==============*/

.athlete-details-container {
    border: 3px solid #d71a21 !important;
}

.athlete-details .pic {
    padding-top: 50%;
}

.athlete-details {
    position: relative;
    z-index: -1;
    margin-top: -300px;
    margin-bottom: 20px;
}

#SingleCoachPage .tab-content {
    width: 100%;
    margin-right: 20px;
}

#SingleCoachPage .stats {
    padding: 20px;
}

#SingleCoachPage .img-responsive {
    height: 100%;
}

.athlete-text .parags>p:first-child::first-letter {
    font-size: 40px;
}

.athlete-text aside {
    background: #350203;
    padding: 40px 20px;
}

.athlete-text .picture {
    padding: 20px;
    text-align: center;
}

.picture img {
    width: 70%;
}

.myTabs .col {
    text-align: center;
}

.myTabs .nav-link.active .svg-inline--fa {
    color: #d71a21;
}

#SingleProgramPage .nav-link.active {
    font-weight: bolder;
}

#SingleProgramPage .nav-link.active:before {
    content: "";
    position: absolute;
    left: 35%;
    bottom: 0;
    height: 1px;
    width: 30%;
    /* or 100px */
    border-bottom: 1px solid #d71a21;
}

.myTabs .nav-link.active {
    background: transparent;
}

.myTabs .nav-pills .svg-inline--fa {
    font-size: 38px;
    margin-bottom: 10px;
}

.myTabs .nav-pills .svg-inline--fa:hover {
    color: #d71a21;
}

.myTabs .caption {
    display: none;
}

.myTabs .nav-item>.active .caption {
    display: block !important;
}

.myTabs .nav-item:hover .caption {
    display: block;
}

/*=========*/

/* EventsPage & Single Event
==============*/

.events-grid>div {
    margin-bottom: 20px;
}

.eventTitle {
    background: url(../imgs/slidefull1.jpg) top center;
    background-size: cover;
    height: 200px;
    position: relative;
    display: table;
}

.eventTitle .titleText {
    display: table-cell;
    vertical-align: middle;
}

#event-photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

#event-photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
}

/*=========*/

/*Programs & Single Program*/

#SingleProgramPage .myTabs a {
    font-size: 18px;
}

#SingleProgramPage .myTabs {
    border-top: 1px solid #d71a21;
    border-bottom: 1px solid #d71a21;
    padding: 20px 0px;
    margin-bottom: 20px;
}

#SingleProgramPage .progress-bar {
    background: #d71a21;
}

#SingleProgramPage .rate>span {
    line-height: 30px;
}

#SingleProgramPage #calendar .col {
    height: 100px;
    line-height: 100px;
    background: gray;
    font-weight: bolder;
    border: 1px solid #2e2e2e;
    width: calc(100%/7) !important;
    flex-basis: unset;
    flex-grow: unset;
}

#SingleProgramPage #calendar .col-active {
    background: #350203;
}

#requirements {
    padding: 20px 0px;
}
#requirements .prog{
    margin-bottom:20px;
}
#requirements .prog .border-primary {
    padding: 40px 20px !important;
}

#requirements .prog:hover .border-primary {
    background: gray;
}
#nutrition .row{
    margin-bottom:20px;
    padding:20px 0px;
    border:1px solid #d71a21;
}
#nutrition .nut-icon{
    line-height: 120px;
}
#faq{
    padding:20px 0px;
}
#faq .row p.v-lg-text{
    line-height: 40px;
}
#faq .question{
    padding:20px 0px;
    border-bottom:1px solid #d71a21;
}
#signup{
    padding:20px 0px;
}
#signup form{
    border-bottom:1px solid #d71a21;
}


/*==========*/

/*footer*/

footer {
    background: rgb(71, 69, 69);
    padding: 30px 0px;
    border-bottom: 20px solid #d71a21;
}

footer ul {
    list-style: none;
}

footer ul li {
    border-bottom: 1px solid darkgray;
}

footer ul li a {
    color: darkgray;
    font-size: 12px;
}

footer ul li a:hover {
    color: #fff;
    border-bottom: unset;
    text-decoration: none;
}

footer .info span {
    font-size: 11px;
}

footer .section {
    margin-bottom: 20px;
}

footer .info .svg-inline--fa {
    border: 1px solid #d71a21;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 4px 0px;
    border-radius: 5px;
}

footer .info .svg-inline--fa:hover {
    border: 1px solid #fff;
}

footer .social-icons {
    margin-top: 10px;
}

.footer-title {
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
}

.subscribe-text {
    color: #fff;
}

footer input {
    width: 70%;
    background: transparent !important;
    border: 1px solid #d71a21;
    text-indent: 5px;
    color: #fff;
    font-size: 11px;
    height: 30px;
}

footer .copyrights {
    color: darkgray;
    font-size: 12px;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
}

.copy-text {
    color: darkgray;
    font-size: 10px;
}

.copyrights span {
    font-size: 10px;
}

.copyrights a {
    color: darkgray;
}

.copyrights a:hover {
    color: #fff;
}